{% extends 'base.html' %}
{% block contenido %}

	<div class="large-12 columns">
  	<h4><a href="/">Inicio</a> / Nueva Compra</h4>
    <div class=" panel large-12 columns">
      <form  enctype='multipart/form-data' action='' method='POST'>
      	<div class="row">
        	<p style="text-align:center; color:gray;"> <em> Datos generales</em></p>
        	<div class="  large-12 columns">
          	{% csrf_token %}
            {{ form.non_field_errors }}
						<label > DNI Cliente:
            	{{ form.c_dni }}
            </label>
            {% if form.c_dni.errors %}
            	{% for error in form.c_dni.errors %}
              	<small class="error">
                	{{ error|escape }}
                </small>
              {% endfor %}
            {% endif %}
          </div>
					<div class="large-12 columns">
	        	<label > Codigo Producto:
	          	{{ form.ce_idprod }}
	          </label>
	          {% if form.ce_idprod.errors %}
	          	{% for error in form.ce_idprod.errors %}
	            	<small class="error">
	              	{{ error|escape }}
	              </small>
	            {% endfor %}
	          {% endif %}
	        </div>
        </div>
				<div class="row">
        	<div class="large-12 columns">
						<label> Fecha de Compra:
							{{ form.f_compra }}
						</label>
						{% if form.f_compra.errors %}
							{% for error in form.f_compra.errors %}
								<small class="error">
									{{ error|escape }}
								</small>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="row">
        	<div class="large-12 columns">
						<label> Número Asignado:
							{{ form.c_num }}
						</label>
						{% if form.c_num.errors %}
							{% for error in form.c_num.errors %}
								<small class="error">
									{{ error|escape }}
								</small>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<br>
    		<div class="large-12 columns">
    			<input style="background-color:#7bac0f" class="button tiny " type='submit' value='Registrar Compra'/>
				</div>
  		</form>
		</div>
	</div>

{% endblock %}
