{% extends 'base.html' %}
{% block contenido %}
<br>
  <div class="large-12 columns">
    <h4><a href="/">Inicio</a> / Lista de Compras</h4>
    <table>
      <thead>
        <tr>
          <th width="235">DNI Cliente</th>
          <th width="235">Código Producto</th>
          <th width="235">Fecha Compra</th>
          <th width="235">Número Asignado</th>
        </tr>
      </thead>
      <!-- IMPORTANT, class="list" have to be at tbody -->
      <tbody class="list">
        {% for compra in Compras %}
        <tr>
          <td>{{compra.c_dni}}</td>
          <td>{{compra.ce_idprod}}</td>
          <td>{{compra.f_compra}}</td>
          <td>{{compra.c_num}}</td>
          <td> <button data-dropdown="opcs" aria-controls="drop" class="alert round button dropdown">Opciones</button><br>
          <ul id="opcs" data-dropdown-content class="f-dropdown" aria-hidden="true">
            <li><a href={{ request.get_host }}/compra/{{compra.c_dni}}>Editar</a></li>
            <li><a href={{ request.get_host }}/compra_e/{{compra.c_dni}}>Eliminar</a></li>
          </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class=" small-4 large-8 columns">
    <a href={{ request.get_host }}/compras/nuevo><h6 class="button large success" style="background-color:#7bac0f">Agregar Compra</h6></a>
  </div>
{% endblock %}
