{% extends 'base.html'%}
{% block contenido %}
  <div class="large-12 columns">
    <h2 class="text-center color-pink headings">Diseño de Bases de Datos</h2>
    <div id="testimonial">
        <div class="row">
            <div class="large-12 columns">
                <ul class="example-orbit-content" data-orbit>
                    <li data-orbit-slide="headline-1">
                        <div class="text-center">
                            <h6 class="color-white">Integrantes</h6>
                            <a href="https://github.com/nextysape" target="_blank"><p class="color-white">Nestor Morales Hernandez</p></a>
                            <a href="https://github.com/jorgelopez33" target="_blank"><p class="color-white">Jorge Lopez Moron</p></a>
                        </div>
                    </li>
                    <li data-orbit-slide="headline-2">
                        <div>
                            <a href="https://github.com/rbaena/tiendaDjango" target="_blank"><p class="color-white">Profesor: Ruben Baena Navarro</p></a>
                            <p class="color-white">Magister en Software Libre, Ingeniero de Sistemas, estudiante de Doctorado en Proyectos</p>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
